<section class="container-xxl content-task">

    <div class="row gap-3">
        <div class="bg-white shadow-sm px-5 py-4 d-flex flex-column justify-content-center align-items-center card-user col-4">
            <img src="../../assets/images/user.png" alt="a"  width="130px">
            <div class="text-center">
                <h5 class=" text-uppercase"><%= user.FirstName %> <%= user.LastName %></h5>
                
            </div>
        </div>
        <div class="bg-white shadow-sm col height-card p-4 d-flex flex-column gap-4">
            <div class="row">
                <h5 class="col-6">First Name</h5>
                <p class="m-0 text-muted col-6 text-uppercase"><%= user.FirstName %></p>
            </div> 
            <div class="row">
                <h5 class="col-6">Last Name</h5>
                <p class="m-0 text-muted col-6 text-uppercase"><%= user.LastName %></p>
            </div>
            <div class="row">
                <h5 class="col-6" >Rol</h5>
                <p class="m-0 text-muted col-6"><%= user.Rol %></p>
            </div>
            <div class="row border-0">
                <h5 class="col-6" >Email</h5>
                <p class="m-0 text-muted col-6"><%= user.Email %></p>
            </div>
        </div>



    </div>
    <section class="row pt-3">
        <div class="bg-white shadow-sm col-12  p-4 d-flex flex-column gap-4">
            <h1 class="text-center">Tasks</h1>
            <div class="task-container shadow-sm p-3  d-flex gap-3">
                <%= for (task) in tasks { %>
                    <div class="bg-white shadow-sm col-5 height-card p-4 d-flex flex-column gap-4">
                        <div class="row">
                            <h5 class="col-6">Title</h5>
                            <p class="m-0 text-muted col-6"><%= task.Title %></p>
                        </div> 
                        <div class="row">
                            <h5 class="col-6">Date</h5>
                            <p class="m-0 text-muted col-6"><%= task.Must.Format("2006-02-01") %> </p>
                        </div>
                        <div class="row border-0">
                            <h5 class="col-6" >Description</h5>
                            <p class="m-0 text-muted col-6"><%= task.Description %></p>
                        </div>
                        
                    </div>
                <% } %>
                
                
                
            </div>
        </div>

    </section>
 
</section>