<div class="mb-3 row">
    <div class="col-md-6">
        <%= f.InputTag("Title") %>

    </div>
  
    <div class="col-md-6">
        <%= f.InputTag("Must", {type: "date" , class: "form-control" }) %>
    </div>
    <%= if (current_user.Rol == "admin") { %>
        <div class="row pe-0 mt-2">
            <div class="col-12">
                <%= f.SelectTag("UserID", {options: users }) %>
            </div>
        </div>
    <% } %>
   
 
    <div class="col mt-2">
        <%= f.TextArea("Description", {rows:10}) %>
    </div>

    <div class="d-flex justify-content-end buttons pt-4">
        <a href="/todo"><button type="button"
                class="btn btn-light px-4 py-2 me-sm-3 justify-content-end btn-cancel">Cancel</button></a>
        <button type="submit" class="btn btn-primary px-4 py-2 mb-3 mb-sm-0 justify-content-end btn-add">Submit</button>
    </div>
</div>