

<section class="layout-add d-flex flex-column">
    
    <div class="justify-content-between row g-2 ">
        <div class="col-12 col-md-4">
            <%= form({action: "/todo", method: "GET"}) { %>
            <div class="input-group">
                <input id="search-tasks" type="text" class="form-control" placeholder="Search" name="title">
                <button id="search-tasks-button" type="submit" class="btn btn-primary px-4 py-2 ">
                    Search</button>
            </div>
            <% } %>
        
        </div>
        <a href="<%= newTodoPath() %>" class="col-12 col-md-6 d-flex justify-content-end"><button id="add-task" type="button" class="btn btn-primary px-4 py-2 justify-content-end">Add
                Task</button>
        </a>
    </div>
    <div class="content mt-3 shadow-sm rounded">
        <table id="table" class="table table-hover   shadow-sm  rounded overflow-scroll table-fixed m-0">
            <thead>
                <tr class="top">
                    <th class="py-3"></th>
                    <th class="py-3 fw-normal">Task</th>
                    <%= if (current_user.Rol == "admin") { %>
                    <th class="py-3 fw-normal">User</th>
                    <% } %>
                    <th class="py-3 fw-normal">Must be to</th>
                    <th class="py-3 fw-normal text-center">Actions</th>
                </tr>
            </thead>
            <tbody class="rounded-bottom" id="items">

                <%= for (i) in tasks { %>
                    <tr class="tasks">
                        <td class="pt-4 text-center px-0">
                            <%= form({action: "/todo/status/" +i.ID ,method:"PUT", id:"form-status"}) { %>
                                <%= if (i.Status == true)  {%>
                                    <button class="btn p-0" type="submit"> <i class="fa-solid fa-ban"></i></button>
                                <% } else { %>
                                    <button class="btn p-0" type="submit"><i class="fa-solid fa-circle-check"></i> </button>
                                <% } %>
                             <% } %> 
                            
                        
                        </td>
                        <td class="pt-4 text-info bi show-description">
                            <%= i.Title %>
                        </td>
                      
                        <%= if (current_user.Rol == "admin") { %>
                        <td class="pt-4">
                            <%= i.User.Email %>
                        </td>
                        <% } %>
                       
                        <td class="pt-4">
                            <%= i.Must.Format("2006-02-01") %>
                        </td>
                        <td class="d-flex py-4 py-md-3   justify-content-center align-items-center">
                            <a href="<%= todoPath({todo_id: i.ID})%> ">
                                <button type="button" class="btn btn-success ms-2 submit"><i
                                        class="fas fa-edit"></i></button>
                            </a>
                            <%= form({action: todoPath({todo_id: i.ID}) ,method:"DELETE"}) { %>
                                    <button type="button" class="btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#A<%=i.ID%>"><i
                                        class="far fa-trash-alt "></i></button>
                                        <%= partial("todo/modal.plush.html", {ID : i.ID}) %>
                            <% } %> 
                        </td>
                    </tr>
                <% } %> 
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between pt-3 ">
            <%= paginator(pagination) %>
            <span class="opacity-25">Displaying <%= pagination.Offset + 1 %> - <%= pagination.Offset + pagination.PerPage %> of <%= pagination.TotalEntriesSize %></span> 
    </div>
    
</section>