<!--Top bar Task-->
<header class="shadow-lg py-3 px-5 mb-3 rounded-bottom head row m-0">
    
        <nav class="navbar navbar-expand-lg navbar-dark head">
            <div class="justify-content-center text-center container-fluid p-0
            <%= if (!currentUser()) { %>
                justify-content-center
                <% } else { %>
                    justify-content-md-between
                <% } %>
            
            ">
        
                <!-- some html here -->
  
                <div id="text-left" class="row col-6   d-flex justify-content-start w-auto ">
                    <div class="text-todo col-12 ps-4  col-md-6  <%= if (!currentUser()) { %>
                        border-0
                        col-md-12
                    
                        
                        <% } %> ">
                        <h2 class="text-white fs-3 py-1 m-0">
                            ToDo List 
                        </h2>
                    </div>
                    <%= if (currentUser()) { %>
                    <div id ="text-bottom"class=" row col-12 col-md-6 ms-1  ms-md-0 ">
                        <div class="col-12">
                            <p class="text-white m-0 text-md-start" id="text-top-bar"><%= message %></p>
                        </div>
                        <div class="col-12 m-0 align-items-center">
                            <p id="date" class="text-white fw-light day m-0 text-md-start"> <%= time.Day() %> <%= time.Month() %>,
                                <%= time.Year() %></p>
                        </div>
                    </div>
                   
                </div>
              
                <%= if (currentUser()) { %>
                
                <div class=" nav-menu justify-content-center justify-content-md-center" >
                    <div class="d-flex">
                        
                            <a  class=" nav-link text-white  d-flex flex-column-reverse 
                            <%= isActive("todoPath") %>   <%= isActive("todoShowTodoIDPath") %> <%= isActive("newTodoPath") %> 
                            "  href="/todo"><span >Tasks</span>  <i  class="fa-solid fa-list-check fa-2x  d-md-none"></i></a>
                            <%= if (admin()) { %>
                                <a  class="nav-link text-white d-flex flex-column-reverse 
                                <%= isActive("usersPath") %>   <%= isActive("newUsersPath") %> <%= isActive("editUsersPath") %>  <%= isActive("usersShowPath") %>  "  href="/users"> <span >Users</span>  <i class="fa-solid fa-user fa-2x d-md-none"></i></a>
                            <% } %>
                            <%= form({action: signoutPath(),method:"DELETE"}) { %>
                                <button class="button nav-link text-white d-flex flex-column-reverse " type="submit"> <span >Sign out</span> <i class="fa-solid fa-arrow-right-from-bracket fa-2x  d-md-none d-flex align-self-center"></i></button>
                                    <% } %>
                               
                             <% } %> 
                        <% } %>
                       
                       
                    
                    </div>
                </div>
                
            </div>
        </nav>
    
</header>