<!--Top bar Task-->
<header>
 
        <nav class="navbar navbar-expand-lg navbar-dark head">
            <div class="container-fluid">
                <div class="text-todo col-4  pe-4">
                    <h2 class="text-white fs-3 py-1 m-0">
                        ToDo List
                    </h2>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">

                       
                        <a  class=" nav-link text-white  <%= if(url == "/" ) {%>  custom-active <% }%>"  href="/">Tasks</a>
                        <a  class="nav-link text-white  <%= if(url == "/users/" ) {%>  custom-active <% }%>" href="/users">Users</a>
                    </div>
                </div>
            </div>
        </nav>
    
</header>